body {
    background:rgba(122, 120, 120, 0.795);
    font:normal 16pt arial;
    font-family: 'Acme', sans-serif;
}

/*h1{
    text-shadow: 15px 15px 15px rgb(236, 233, 233);
}*/

header{
    color: white;
    text-align: center;
}

section {
    text-align: center;
    background:rgba(54, 53, 53, 0.904);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 2, 2, 2);
}

div{  
    padding: 5px;
    font: normal 15pt arial;
    font-family: 'Acme', sans-serif;
    color:white;
}

input[type="button"]{
    padding: 10px 40px;
    border-radius: 5px;
    border:none;
    font-family:'Acme', sans-serif; 
    font-size: 20px;
    color: black;
    background: rgb(219, 218, 218);   
}

input[type="number"]{
    color: black;
    font-size: 15px;
    font-family:'Acme', sans-serif; 
    text-align: center;
    padding: 5px 0px;
    background-color:rgb(219, 218, 218);
    outline: none;   
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

input[type="button"]:hover{
    background:rgb(92, 87, 87);
    transform: scale(0.9);
    cursor: pointer;
    margin-left: initial;
}

footer {
    color:white;
    text-align: center;
    font-style: italic;
}

img {
    width: 100%;
}
